
<app-header></app-header>

<div class="container h-100">

  <router-outlet class="row h-100 justify-content-center align-items-center">

    <div class="d-flex flex-column w-75">

      <app-card headerTitle="Gráfico" class="p-2">
        <app-graphic [data]="dataGraphic"></app-graphic>
      </app-card>

      <app-card headerTitle="Tabela" class="p-2">
        <app-table [props]="dataTable"></app-table>
      </app-card>

    </div>

  </router-outlet>

  <app-footer-clouds></app-footer-clouds>

</div>
