<table class="table border shadow-sm">
    <!-- Cabeçalho  -->
    <thead class="thead-dark">
        <tr>
            <th *ngFor="let column of props?.fields" scope="col">{{ column.columnName }}</th>
        </tr>
    </thead>
    <!-- Corpo da tabela  -->
    <tbody>

        <tr *ngFor="let item of props?.data">
            <td *ngFor="let column of props?.fields">{{ item[column.keyOfValue] }}</td>
        </tr>

    </tbody>
    <!-- Indicador de carregamento dos dados -->
    <p *ngIf="!props?.data?.length" class="text-center">Loading...</p>
</table>
